:root{
    --bg-primary:#4484CE;
    --light:#D9D9D9;
    --accent:#F9CF00;
    --box-color:#F19F4D; 
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--light);
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: var(--light);
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    background: var(--accent);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
}
header{
    background: var(--bg-primary);
    color: var(--light);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--accent) 3px solid;
}
header a{
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: var(--accent);
    font-weight: bold;
}
header a:hover{
    color: var(--light);
    font-weight: bold;
}

 #showcase{
     min-height: 400px;
     background: url('../img/computer.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     text-align: center;
     color: #333 ;
 }
 #showcase h1{
     margin-top: 100px;
     font-size: 55px;
     margin-bottom: 10px;
 }
 #showcase p{
     font-size: 20px;
 }
 #newsletter{
     padding: 15px;
     color: var(--light);
     background: var(--bg-primary);
 }
 #newsletter h1{
     float: left;
 }
 #newsletter form{
     float: right;
     margin-top: 15px;
 }

 #newsletter input[type="email"]{
     padding: 4px;
     height: 25px;
     width: 250px;
 }

 #boxes{
     margin-top: 20px;
 }
 #boxes .box{
     float: left;
     text-align: center;
     width: 30%;
     padding: 10px;
     color: #333;
 }
 #boxes .box img{
     width: 90px;
 }
 aside#sidebar{
     float: right;
     width: 30%;
     margin-top: 10px;

 }

 article#main-col{
     float: left;
     width: 65%;
     color: #333;
 }
 .dark{
     padding: 15px;
     background: #35424a;
     margin-top: 10px;
     margin-bottom: 10px;
     color: var(--light);
 }

ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: var(--light);
}
.quote input, .quote textarea{
    width: 90%;
    padding: 5px;
}
footer{
     padding: 20px;
     margin-top: 20px;
     color: var(--light);
     background-color: var(--box-color);
     text-align: center;
 }
@media (max-width: 768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin: 30px;
        font-size: 43px;
        padding: 0;
    }
    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
    #showcase{
        min-height: 400px;
        background: url('../img/computer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        color: #333 ;
    }
 }




